MSSQL_IMAGE=mcr.microsoft.com/mssql/server:2022-latest
MSSQL_CONTAINER_NAME=mssql-dev
MSSQL_VOLUME_NAME=mssql-dev-data
MSSQL_HOST_PORT=14333
MSSQL_PID=Developer
MSSQL_SA_PASSWORD=ReplaceMeWithAStrongPassword!